%card-p{
    svg{
        vertical-align: sub;
    }
}

.date-p{
    @extend %card-p;

    font-weight: lighter;

    strong{
        font-weight: bolder;
    }
}

.link-p{
    @extend %card-p;
}

.score-p{
    @extend %card-p;
}

.map-p{
    @extend %card-p;
}

.card{
    &.match-card{
        p{
            margin-bottom: 0.5rem;
        }
    }
}

.sharp-top-radius{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}