{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Competitions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="{% static 'view/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'view/css/main_pages.css' %}" rel="stylesheet">
        <script src="{% static 'view/js/jquery.min.js' %}"></script>
        <script src="{% static 'view/js/bootstrap.min.js' %}"></script>
    </head>
    <body class="bg-light">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Competitions</li>
                </ol>
            </nav>

            {% if alert_msg %}
                <div class="alert alert-warning" role="alert">
                    {{alert_msg}}
                </div>
            {% endif %}
            
            <div class="row row-cols-1 row-cols-md-3">
                {% for competition in competitions %}
                <div class="col mb-4">
                    <div class="card">
                        {% if competition.icon_path %}
                            <img src="{{competition.icon_path}}" class="card-img-top" alt="Logo of {{competition.name}}">
                        {% endif %}

                        <div class="card-body">
                            <h4 class="card-title">{{competition.name}}</h4>

                            {% if competition.start_date and competition.end_date %}
                                <p class="date-p">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                    </svg>
                                    From <strong>{{ competition.start_date | date:'d M Y' }}</strong> To <strong>{{ competition.end_date | date:'d M Y' }}</strong>
                                </p>
                            {% endif %}

                            {% if competition.url %}
                                <p class="link-p">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                    </svg>
                                    <a href="http://www.robocup2018.org">
                                        http://www.robocup2018.org
                                    </a>
                                </p>
                            {% endif %}
                            
                            <a href="{% url 'competition' competition.name %}" class="btn btn-primary">Show Matches</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>
