[Unit]
Description=RCRS Web Viewer
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{WorkingDirectory}}
ExecStart={{DockerCompose}} -f {{DockerComposeYaml}} up
ExecStop={{DockerCompose}} -f {{DockerComposeYaml}} down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target