{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{competition.name}}</title>
        <link href="{% static 'view/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'view/css/main_pages.css' %}" rel="stylesheet">
        <script src="{% static 'view/js/jquery.min.js' %}"></script>
        <script src="{% static 'view/js/bootstrap.min.js' %}"></script>
    </head>
    <body class="bg-light">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'competitions' %}">Competitions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">#@!</li>
                </ol>
            </nav>
            
            <div class="jumbotron">
                <h1 class="display-4">404</h1>
                <p class="lead">The page you're looking for can't be found.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{% url 'competitions' %}" role="button">‌Back to Competitions Page</a>
            </div>

        </div>
    </body>

</html>